// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your main colors
$primary: #eb7e44;
$info: #9f8e76;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$light: $white-ter;

// Lists & Maps
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
);

// Background Stuff
$background: $white-ter;
$body-background-color: $background;
$table-background-color: $background;

// Fonts & Text
$text: $grey-dark;
$family-primary: $family-sans-serif;
$body-family: $family-primary;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
